
kod_serwer/web/PHP/connect_data.php
kod mikrokontroler/mergred_slave_master_v3/authData.h
kod mikrokontroler/mergred_slave_master_v3/authData.h
kod_serwer/web/PHP/connect_dataSerw.php
kod_serwer/web/PHP/connect_dataLocal.php
kod mikrokontroler/mergred_slave_master_v4/authData.h
